@import url("responsive.css");
/* ================================= 
  Base Element Styles
==================================== */


* {
	box-sizing: border-box;
}

body {
	font-family: Raleway, Arial, sans serif;
	line-height: 1.6;
	color: #3a3a3a;
	background-color: #fafafa;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 1.125em;
}


p {
	text-align: center;
	font-size: .90em; 
	margin-bottom: 1.5em; 
}

a { 
	color: #fff;
	text-decoration: none;
}

ul {
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;

}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	padding: 5px;
	margin-top: 6px;
	margin-bottom: 6px;
	list-style: none;
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
	font-size: .85em;
	font-weight: bold;
	color: #3a3a3a;
	text-transform: uppercase;
}

/* ---- Footer ---- */

.footer-name {
	padding-left: 32px;
	font-size: 1em;
	float: left;
}

.secondary-footer {
	float: right;
}


.nav a:hover {
	color: #093a58;
}

.footer-name a,
.secondary-footer a {
	font-size: .85em;
	font-weight: bold;
	color: #3a3a3a;
	text-transform: uppercase;
}



/* ---- Layout Containers ---- */

.container {
	padding-left: 1em; /*16px*/
	padding-right: 1em;
}

.main-header,
.main-footer {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 25px;
}

.main-footer {
	padding-bottom: 40px;
}

.banner {
	padding: 30px;
	margin: 1em 0; 
}

.portfolio {
    padding-top: 50px;
	padding-bottom: 50px;
    margin: 10px auto;
	background-color: #fff;
}
.contact {
	text-align: center;
	padding: 20px;
	margin: 1em 0; 
}


/* ---- Page Elements ---- */

h1 ul,
.headline,
.contact-headline {
	font-weight: lighter;
	color: #7f7f7f;
}

.banner img {
	width: 80%;
}

.headline,
.contact-headline,
.contact-headline li {
	text-align: center;
}

.container-title {
	padding-bottom: 50px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.title {
	font-weight: bold;
	font-size: 17px;
}

.portfolio li {
	margin-top: 50px;
}


.portfolio img,
.portfolio li{
	width: 100%;
	margin-bottom: 2.5%;
}

.portfolio li p {
	margin: 0;
	padding: 0 2%;
}

.contact-headline {
	margin: 50px 0;
}

.contact-headline ul {
	padding-top: 50px;
}

.contact li {
	padding: 10px 0;
}


/* ================================= 
 Clearfix
==================================== */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

